body.archive {
  ul.posts {
    list-style-type: none;
    .make-row();

    li {
      .clearfix();
      .make-column(6);
      max-height: 154px; //limit text to vertical space
      margin: 20px 0;

      &.left { clear: left; }

      .thumb {
        float: left;
        margin-right: 10px;
        img { max-width: 150px; }
        img:hover { box-shadow: 5px 5px @orange; }
      }
      h3 { 
        margin: 0; 
        a { color: @white; }
        a:hover { color: @orange; }
      }
      .date { margin-bottom: 5px; }
    }
  }

  @media (max-width: @grid-float-breakpoint) {
    ul.posts li {
      max-height: none;
      h3 { clear: left; }
      .thumb img { width: 100%; }
    }
  }
}

body.post, body.mission {
  h2 { margin-top: 0; }
  h3, h4 { float: left; width: 100%; clear: both; }

  .meta { .clearfix(); }
  .client img {
    vertical-align: middle;
    max-width: 300px;
  }
  
  .map-wrapper {
    float: left;
    padding-right: 10px;
  }
  .map { 
    width: 100px;
  }

  .content {
    .clearfix();
  }

  p, ul, hr { 
    .two-third();
  }

  ul {
    list-style-type: circle;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img { max-width: 100%; }

  .thumb {
    img:hover { box-shadow: 5px 5px @orange; }
  }
  
  .two-third { .two-third(); }
  .full {
    .full();
    p {
      width: 100%;
      padding-left: 0;
      }
  }
  .center { text-align: center; }
  .inline {
    &.third { .third(); }
    &.right { @media (min-width: @grid-float-breakpoint) { float: right; }}
    &.left { @media (min-width: @grid-float-breakpoint) { float: left; }}
  }

  div.tag-list {
    margin-top:5px;
  }

  @media (max-width: @grid-float-breakpoint) {
    .inline {
      margin: 0;
      img { width: 100%; }
    }
  }

  .next-prev-nav { .full(); }
}
