/***************************/
/* Spacedog default layout */
/***************************/

body {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  background: #3A393A;
  color: @white;
  overflow-y: scroll;
  font-family: @font-family-base;
}

.wrapper {
  padding: 20px;
  .box-sizing(border-box);
  .clearfix();
}

ul { padding: 0; margin: 0; }

header {
  padding: 20px;
  h1 {
    font-size: 2.5em;
    font-family: @font-family-logo;
    a {
      text-decoration: none;
      color: @white;
      &:visited { color: @white; }
    }
  }
}

#logo {
  font-family: @font-family-logo;
  img.icon {
    width: 40px;
    margin-right:-5px;
    &:after { content: "d"; font-size:0; }
  }
}

.displayBackground {
  vertical-align: middle;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #58595B;
  background-image: url('/static/splash/display-gray.png');
  .box-sizing(border-box);
  .wrapper {
    padding: 12.5% 6.5%;
    .make-row();
  }
}

span.follow {
  display:inline-block;
  position:relative;
  top: 3px;
  margin-left: 5px;
  line-height: 1.5em;
}


footer {
  width: 100%;
  .clearfix();
  color: @white;
  a {
    color: @white;
    &:visited { color: @white; }
    &:hover { color: @link-color; }
  }
  .wrapper {
    div {
      .make-column(4);
      @media (min-width: @grid-float-breakpoint) {
        &:nth-child(2) { text-align: center; }
        &:nth-child(3) { text-align: right; }
      }
      a { text-decoration: none; }
    }
    div.copy {
      margin-top:-5px; // pull twitter follow button up
    }
  }
}