//styles for the default layout

body {
  margin: 0 auto;
}

.wrapper, header, footer {
  padding: 20px;
}

ul { padding: 0; margin: 0; }

header { 
  h1 {
    font-size: 2.5em;
    font-family: @font-family-logo;
    a {
      text-decoration: none;
      &:visited { color: @link-color; }
    }
  }
}

.logo {
  font-family: @font-family-logo;
}

footer {
  .make-row();
  div {
    .make-column(4);
    @media (min-width: @grid-float-breakpoint) {
      &:nth-child(2) { text-align: center; }
      &:nth-child(3) { text-align: right; }
    }
    a { text-decoration: none; }
  }
}