section#blastoff {
  background-color: #58595B;
  background-image: url('/static/splash/display-gray.png');

  h2 {
    margin: 12.5% 7.5% 0 7.5%;
  }
  h3 {
    margin: 0 15px;
  }
  .wrapper {
    margin: 0 6.5%;
  }

  form {
    .clearfix();
    margin-top: 50px;

    &> label {
      display: block;
      margin-top: 15px;
    }

    label.error {
      color: @orange;
    }

    input[type="text"], input[type="email"], select {
      display: block;
      clear: left;
    }

    textarea {
      width: 90%;
      height: 50px;
    }

    ul li {
      margin-top: 5px;
    }

    button {
      .center-block();
      margin-top: 20px;
      border-radius: 5px;
      border-color: @light-gray;
      background: @white;
      text-color: @black;
      font-size: 1.5em;
    }
  }
}

@media (max-width: @grid-float-breakpoint) {
  section#blastoff {
    background: #58595B;
    height: auto !important;
  }
}