section#how-we-work {
  &>ul {
    .make-row();

    &> li {
      .make-column(4);
      padding: 0;

      li {
        list-style-type: circle;
      }
    }
  }
}

section#testimonials {
  span.quote {
    font-size: @font-size-large;
    font-style: bold;
  }
  span.more {
    font-size: @font-size-medium;
  }
}

section#team {
  ul { 
    li { }
  }
}