body.index { @media (max-width: @grid-float-breakpoint) {
  section#splash {
    .overlay.text {
      #logo {
        font-size: 3em;
      }
      .tagline {
        font-size:1em;
      }
    }
  }

  section:not(#splash).fullwidth {
    .wrapper {
      margin: 0 5px;
    }
  }

  section#how-we-work {
    height: auto !important;
    background: #783F17;

    & > ul > li ul {
      float: left;
      width: 55%;
      padding-right: 0px;
      img { float: right; }
    }
  }

  section#testimonials {
    height: auto !important;
    background: #0A3E52;
  }

  section#accomplishments {
    height: auto !important;
    background: #58595B;

    ul .logo img {
      float: right;
    }
  }

  section#team {
    height: auto !important;
    background: #35353B;

    ul {
      width: 100%;
      li .about {
        margin: 10px;
        // width: auto;
      }
    }
  }
}}

@media (max-width: @grid-float-breakpoint) {
  .displayBackground {
    height: auto !important;
    background: #58595B;
  }
}