body.index { @media (max-width: @grid-float-breakpoint) {
  section#splash {
    .overlay.text .tagline {
      font-size:1.25em;
    }
  }

  section#how-we-work {
    height: auto !important;
    background: #783F17;
  }

  section#testimonials {
    height: auto !important;
    background: #0A3E52;
  }

  section#accomplishments {
    height: auto !important;
    background: #58595B;

    ul .logo img {
      float: right;
    }
  }

  section#team {
    height: auto !important;
    background: #58595B;

    ul li .about {
      margin: 10px;
    }
  }
} }

@media (max-width: @grid-float-breakpoint) {
  .displayBackground {
    height: auto !important;
    background: #58595B;
  }
}