@import "normalize";
@import "preboot";

// grid
@grid-columns:          12;
@grid-column-padding:   15px;
@grid-float-breakpoint: 768px;

// colors
@white: #fff;
@orange: #F27E30;
@blue: #167DA6;
@light-gray: darken(#fff, 20%);
@gray: darken(#fff, 40%);
@dark-gray: darken(#fff, 60%);
@black: darken(#fff, 80%);


@primary-brand: @orange;



// typography
@font-face {
  font-family: "CATNorth";
  src: url(/static/fonts/CATNorth.ttf);
}

@font-face {
  font-family: "Opificio Neue";
  src: url(/static/fonts/OpificioNeue.ttf);
}

@font-family-logo:        "CATNorth", Consolas, monospace;
@font-family-header:      "Opificio Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          1em;
@font-size-x-large:       @font-size-base * 2;
@font-size-large:         @font-size-base * 1.5;
@font-size-medium:        @font-size-base * 1.25;
@font-size-small:         @font-size-base * 0.85;
@font-size-mini:          @font-size-base * 0.75;

@link-color:       @orange;
@link-color-hover: lighten(@link-color, 15%);
@link-color-visited: @link-color;

// globals
.icon {
  width:15px;
} 

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: @link-color;
  &:visited { color: @link-color-visited; }
  &:hover { color: @link-color-hover; }
}


@import "default";
@import "homepage";