---
layout: default
header: |
  <section id="splash" class="fullwidth">
    <span id="stars" class="fullwidth" role="img" aria-label="stars">
      <span class="fullwidth-inner"></span>
    </span>
    <div class="overlay">
      <span id="console" class="fullwidth" role="img" aria-label="spaceship console">
        <span class="fullwidth-inner"></span>
      </span>
    </div>
    <div class="overlay">
      <img src="/static/splash/transparent.png" data-orig-width='1400' data-orig-height='900' usemap="consoleMap" id="rollover" />
    </div>
    <div class="overlay text">
        <h1 id="logo">Spacedog</h1>
        <div class="tagline">a multi-dimensional digital agency for organizations on a mission</div>
      </div>
  </section>
top_script: |
  <map id="consoleMap" name="consoleMap">
  <area shape="poly" alt="buttons-left" title="" coords="82,36,502,34,530,150,204,152" href="" target="" />
  <area shape="poly" alt="buttons-center" title="" coords="541,31,755,31,733,149,561,149" href="" target="" />
  <area shape="poly" alt="buttons-right" title="" coords="800,34,1336,36,1174,154,758,152" href="" target="" />
  <area shape="poly" alt="trex" title="" coords="423,687,440,676,443,657,459,649,457,629,493,635,489,650,477,667,484,700,422,700" href="" target="" />
  <area shape="poly" alt="dradis" title="" coords="549,621,509,738,892,739,891,734,845,624" href="" target="" />
  <area shape="poly" alt="stego" title="" coords="919,646,965,670,932,685,878,685,879,647" href="" target="" />
  <!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
  </map>
end_script: |
  <script src='/js/jquery.rwdImageMaps.js'></script>
  <script src='/js/splash.js'></script>
body_class: index
---

<section id="how-we-work" class="fullwidth">
<h2>How We Work</h2>
<h3>We are social-justice minded technologists who build technology to address real-world problems.</h3>
<ul class="wrapper">
  <li><div>
    <h3>Commitments</h3>
      <p>We are dedicated to the precepts of openness, and to technology that reflects our values.</p>
      <ul>
          <li>social justice</li>
          <li>appropriate technology</li>
          <li>open source, data, content</li>
      </ul></div>
  </li>
  <li><div>
    <h3>Contexts</h3>
      <p>Across a spectrum of issues, we are always sensitive to individual needs.</p>
      <ul>
          <li>online organizing</li>
          <li>democratic engagement</li>
          <li>international development</li>
      </ul></div>
  </li>
  <li><div>
    <h3>Technology</h3>
      <p>We code in service of your mission, and craft your custom solution.</p>
      <ul>
          <li>strategic develoment</li>
          <li>product design</li>
          <li>architecture &amp; code</li>
      </ul></div>
  </li>
</ul>
</section>

<section id="testimonials" class="fullwidth">
<h2>Who Likes Our Work</h2>
<ul class="wrapper">
  {% for t in site.data.testimonials %}
  <li class="{% cycle 'left','right' %}"><div>
      {% if t.quote%}<span class="quote">{{t.quote}}</span>{%endif%}
      {% if t.more%}<span class="more">{{t.more}}</span>{%endif%}
      <span class="person">
        <span class="name text">{{t.name}}</span>
        <span class="title text">{{t.title}}</span>
        <span class="org text">{{t.org}}</span>
      </span>
  </div></li>
  {% endfor %}
</ul>
</section>

<section id="accomplishments" class="fullwidth">
<h2>What Have we Accomplished?</h2>
<ul class="wrapper">
  {% for a in site.data.accomplishments %}
  <li><div>
    <div class="description">
      <div class="name">{{a.title}}: {% if a.client %}{{a.client}}{% else %}{{a.role}}{%endif%}, {{a.date}}</div>
      <div class="stat">{{a.stat}}</div>
    </div>
    <div class="logo"><img src="{{a.logo}}" alt="{{a.client}}"/></div>
  </li>
  {% endfor %}
</ul>
</section>

<section id="team" class="fullwidth">
<h2>Who is Spacedog?</h2>
<ul class="wrapper">
  {% for m in site.data.team %}
  <li>
    <img src="{{m.image|default:'/static/images/blank.png'}}" alt="{{m.name}}, {{m.title}}" />
    <div class="about">
      <span class="name">{{m.name}}</span>, <span class="title">{{m.title}}</span>
      {% if m.twitter%}<span class="follow"><a href="https://twitter.com/{{m.twitter}}" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">@spacedogXYZ</a></span>{%endif%}
      <div class="bio">{{m.bio}}</div>
    </div>
  </li>
  {% endfor %}
</ul>
</section>
