<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon">
    
    <link rel="stylesheet" href="/css/style.css">

    <title>Spacedog{%if page.title%} - {{page.title}}{%else%}.xyz{%endif%}</title>
    {% if page.top_script%}{{page.top_script}}{%endif%}
  </head>

  <body {%if page.body_class%}class="{{page.body_class}}"{%endif%}>
    {% if page.header %}{{page.header}}{%else%}<header><h1 id="logo"><a href="/">Space<img src="/static/icons/spacedog.png" alt="d" class="icon"/>og</a></h1></header>{% endif %}

    {{ content }}

    <footer>
      <div class="wrapper">
        <div class="copy">&copy; 2014 Spacedog</div>
        <div class="built">Built with <img src="/static/icons/heart.png" alt="heart" class="icon"> in Oakland</div>
        <div class="source"><a href="/about">About</a></div>
      </div>
    </footer>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      {% if page.end_script %}{{page.end_script}}{% endif %}
      <script src='/js/spacedog.js'></script>
  </body>
</html>
