{% capture body_class %}{{ layout.body_class }} {{ page.body_class}}{% endcapture %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:image" content="http://spacedog.xyz/static/images/share.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://spacedog.xyz" />
    <meta property="og:title" content="Spacedog XYZ" />
    <meta property="og:description" content="{%if page.title%}{{page.title}}{%else%}a multi-dimensional digital agency for organizations on a mission{%endif%}" />
    <link href="/static/icons/helmet.png" rel="shortcut icon" type="image/x-icon" />
    
    <link rel="stylesheet" href="/css/style.css?v={{site.time | date: '%s'}}" />

    <title>Spacedog{%if page.title%} - {{page.title}}{%else%}.xyz{%endif%}</title>
    {% if page.top_script%}{{page.top_script}}{%endif%}
  </head>

  <body class="{{body_class}}">
    {% if page.header %}{{page.header}}{%else%}
    <header><h1 id="logo"><a href="/">Space<img src="/static/icons/spacedog.png" alt="d" class="icon"/>og</a>
      {% if page.extra_header%}<span class="extra_header">{{page.extra_header}}</span>{%endif%}
      {% if layout.extra_header%}<span class="extra_header">{{layout.extra_header}}</span>{%endif%}
    </h1></header>{% endif %}

    {{ content }}

    <footer>
      <div class="wrapper">
        <div class="copy">&copy; 2014 - {{ site.time | date: '%Y' }} Spacedog XYZ LLC<span class="follow"><a href="https://twitter.com/spacedogXYZ" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">@spacedogXYZ</a></span>
        </div>
        <div class="built">Built with <img src="/static/icons/heart.png" alt="heart" class="icon"> in California</div>
        <div class="about"><a href="/about">About</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/blastoff">Contact</a></div>
      </div>
    </footer>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      {% if page.map %}<script src='/js/map.js'></script>{% endif %}
      {% if page.end_script %}{{page.end_script}}{% endif %}
      <script src='/js/spacedog.js'></script>

      {% include analytics.html %}
  </body>
</html>
