---
layout: default
body_class: mission_report
---
<div class="wrapper">
  <h2>{{ page.title }}</h2>
  <h4 class="meta">
    {{ page.date | date: '%B, %Y' }}
  </h4>

  <div class="content">
    {{ content }}
  </div>

  <h4 class="meta">
    {% if page.category %} in <a href="/categories/{{ page.category | slugize }}">{{ page.category }}</a> {% endif %}
  </h4>

  <div class="next-prev-nav low-top">
    {% if page.next.url %}
      &laquo;&nbsp;<a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>
    {% endif %}
  
    {% if page.next.url %}
      {% if page.previous.url %}
        |
      {% endif %}
    {% endif %}
    
  
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>&nbsp;&raquo;
    {% endif %}
  
    <br />
  </div>

  <hr />
</div>